<% content_for :secondary_nav do %>
  <div class="secondary-nav">
    <div class="secondary-nav__title">
      <%= t "decidim.news.admin.index.title" %>
    </div>
    <div class="secondary-nav__actions">
      <%= link_to t("new.title", scope: "decidim.news.admin"), new_post_path, class: 'button expanded small new' %>
    </div>
  </div>
<% end %>

<%= render "layouts/decidim/admin/application" do %>
  <%= yield %>
<% end %>
