<div class="row columns">
  <p id="chart">
    <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
    <%= javascript_include_tag "sankey" %>
    <%= javascript_include_tag "sankey_generator" %>
</div>
