// // Variables
//
$primary: #861F41;
$secondary: #012169;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

// Fonts

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

// Header white

.title-bar {
  background: #fff;
  color: #000;
  .topbar__dropmenu > ul > li > a, .topbar__user__login a {
    color: #4D4D4D;
  }
}

.topbar__notifications .icon, .topbar__conversations .icon {
  fill: #000;
}

@media only screen and (min-width: 596px) {
  .hero {
    background-size: contain;
  }
}

// Participatory Process Banner

.process-header__hashtag a {
  color: #4d848f;
}
